.post-entire {
    margin-top: 20px;
}

.post-entire .post-meta {
    margin-top: 5px;
    margin-bottom: 15px;
}

.page-content {
    margin-top: 20px;
}

.page-content h4, .page-content li {
    margin-bottom: 10px;
}

.post-entire .post-content p, .page-content p {
    margin-bottom: 15px;
}

.post-entire .post-content h1, .post-entire .post-content h2, .post-entire .post-content h3, .page-content h1, .page-content h2, .page-content h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.post-entire .post-content h1 + h2, .post-entire .post-content h1 + h3, .post-entire .post-content h2 + h3 {
    margin-top: 0;
}

.post-entire pre {
    margin-top: 10px;
    margin-bottom: 25px;
}

.post-entire .post-tags {
    margin-top: 30px;
}

.post-entire .post-tags p, .post-entire .post-tags .tag-list {
    display: inline-block
}

.post-entire .post-tags p {
    margin-right: 10px;
}

.post-entire hr {
    clear: both;
}

/* Blockquotes */

.post-entire blockquote, .page-content blockquote {
    clear: both;
    color: var(--primary-color);
    background-color: var(--elevated-background-color);
    font-style: italic;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-left: 5px solid var(--theme-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post-entire .post-content blockquote p, .page-content blockquote p {
    margin-bottom: 0;
}

/* Notices */

.notice {
    background-color: var(--elevated-background-color);
    color: var(--primary-color);
    clear: both;
    overflow: auto;
    width: 100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.notice:hover {
    background-color: var(--elevated-selected-background-color);
}

.post-content .notice h3 {
    color: var(--theme-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Hero Images */

.fas {
    vertical-align: baseline;
}

.hero-image {
    /*    max-width: 25%;*/
    max-height: 350px;
    float: left;
    margin-left: auto;
    margin-right: 20px;
}

.hero-image.full {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.hero-image.full-limited {
    height: auto;
    max-height: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.sponsor-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image.sponsor {
    height: auto;
    max-height: 80px;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

a .hero-image.sponsor {
    margin: 30px;
}

.hero-image.staff {
    height: auto;
    max-height: 150px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    border-radius: 1000px;
}

.staff-container {
    display: inline-block;
}

.hero-image.right {
    float: right;
    margin-left: 20px;
    margin-right: auto;
}

/* Embedded Images */

.embedded-image {
    max-width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.embedded-image.left {
    float: left;
    margin-right: 20px;
}

.embedded-image.right {
    float: right;
    margin-left: 20px;
}

/* Hero Videos */

.hero-video-container {
    width: 80%;
    margin: auto;
}

.hero-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}

.hero-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.hero-video video {
    width: 100%;
    height: 100%;
}

.hero-video video[poster] {
    width: 100%;
    height: 100%;
}

.trailer {
    
}

.trailer video {
    z-index: -1 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Figures */

figure {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

figure > img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

figcaption {
    font-weight: 600;
/*    letter-spacing: -.021em;*/
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

/* Grid */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.grid:after {
    display: block;
    width: 28%;
    content: "";
}

.grid .item {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    float: left;
    width: 28%;
    margin-bottom: 25px;
}

.grid .item img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

/* Media Queries */

@media(max-width: 655px) {
    pre {
        padding: 8px 0;
        border-radius: 10px;
    }
    
    pre code {
        padding: 0 10px;
    }
    
    .hero-image {
        height: auto;
        max-height: none;
        max-width: 100%;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .staff-container {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .sponsor-container {
        display: block;
    }

    .hero-image.sponsor {
        display: block;
        margin: auto !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    
    .hero-image.full-limited {
        max-width: 50%;
    }
    
    .embedded-image {
        height: auto;
        max-height: none;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .hero-video-container {
        width: 100%;
    }

    .grid .item {
        width: 100%;
        margin-bottom: 10px;
        padding: 15px;
    }
}

/*
 .post-download-link a {
 color: var(--link-color);
 text-decoration: none;
 }
 
 .post-download-link a:visited {
 color: var(--link-visited-color);
 }
 */

