.schedule {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    overflow-x: auto;
    /* padding-top: 20px; */
    padding-bottom: 40px;
    -webkit-overflow-scrolling: touch;
    margin-left: auto;
    margin-right: auto;
}

.schedule::-webkit-scrollbar {
    display: none;
}

.schedule > .header {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    max-width: 800px;
}

.schedule .block {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    background-color: var(--elevated-background-color);
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(102, 102, 102, .15);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.schedule .block:hover {
    box-shadow: 2px 4px 16px rgba(102, 102, 102, .2);
    transform: scale3d(1.02, 1.02, 1.02);
    background-color: var(--elevated-selected-background-color);
}

.schedule .block .header {
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    text-transform: uppercase;
    background-color: var(--elevated-selected-background-color);
}

.schedule .block p {
    margin-bottom: 0;
    line-height: 1.2em;
}

.schedule .block .sub {
    margin-top: 10px;
}

.schedule .block .body {
    padding: 14px;
}

.schedule .block img {
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.schedule .hidden .sub {
    display: none;
}

.quick-access {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    max-width: 800px;
}

.quick-access a {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.quick-access a:hover {
    text-decoration: underline;
}

/* @media(max-width: 655px) {
    .quick-access a {
        display: block;
        margin: 10px;
        margin-left: 0;
        margin-right: 0;
    }
} */