:root {
    --spacing-unit: 20px;
    --page-content-padding: 80px;
    
    --content-width: 1200px;
    --header-content-width: 1080px;
    --link-hover-opacity: .65;
    
    --base-font-weight: 400;
    --heavy-font-weight: 600;
    --base-line-height: 1.5;
    
    --link-color: #FE7070;
    --link-visited-color: #b14e4e;
    --primary-color: #dddddd;
    --secondary-color: #b0b0b0;
    --footer-text-color: #A7A7A7;
    --white-in-light: #000000;
    --white-in-dark: #ffffff;
    
    --theme-color: #4EB8FC;
    --theme-color-adjusted: #3680b0;
    
    --grey-color: #1c1c1e;
    --grey-color-first: #767680;
    --grey-color-second: #767680;
    --grey-color-third: #787880;
    --grey-color-fourth: #787880;
    
    --separator-color: rgb(99, 99, 102);
    --base-background-color: #000000;
    --elevated-background-color: #071219;
    --elevated-selected-background-color: #17374b;
    
    --header-background-color: #071219;
    --footer-background-color: rgb(30, 16, 32);
}

